body{
    background-color: lightblue;
    place-items: center;
}

#formregistreer{
    display: grid;
    place-items: center;
}
#forminlog {
    display: grid;
    place-items: center;
}
